*{
    margin: 0%;
}
.top{
    background-color: cornflowerblue ;height: 400px;text-align: center;
}
.menu{
    background-color: darkgray;width: 25%;text-align: center;float: left;height: 300px;
}
.content{
    background-color: white;width: 50%;text-align: center;float: left;height: 300px;
}
.advt{
    background-color: violet;width: 25%;text-align: center;float: right;height: 300px;
}
.main{
    overflow: hidden;
}
.footer{
    background-color: yellowgreen;height: 250px;text-align: center;
}